.navbar-default.navbar-trans .show > .nav-link, .navbar-default.navbar-trans .active > .nav-link, .navbar-default.navbar-trans .nav-link.show, .navbar-default.navbar-trans .nav-link.active {
    color: #0A4069
}

.color-background-custom{
	background: #F5F8F8;
}

.navbar-default.navbar-trans, .navbar-default.navbar-reduce {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #FFFFFF;
}

.navbar-default.navbar-trans .nav-link, .navbar-default.navbar-reduce .nav-link {
    font-size: 1.2rem;
    color: #0A4069;
    font-weight: 600;
    letter-spacing: 0.030em;
    transition: all 0.1s ease-in-out;
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

.card-body-c {
    color: #0A0A0A;
    text-align: justify;
    font-size: 1.1em;
}

.text-brand {
    color: white;
}

.color-text-a {
    color: #4C97AA;
    text-align: justify;
    font-size: 1.1em;
}

.color-text-b {
    color: #6c757d;
    text-align: justify;
    font-size: 1.1em;
}

.color-text-w {
    color: #FFFFFF;
}

.color-a {
    color: #4C97AA;
}

footer {
    background: #56D3F3;
}

@media (min-width: 992px){
.intro .intro-title {
    font-size: 2.5rem;
	}
}

@media (min-width: 768px){
.intro .intro-body {
    padding-left: 2rem;
    padding-bottom: 14rem;
	}
}

.section-footer .item-list-a i {
    color: #4C97AA;
}

a {
    color: #0A4069;
}

.anchor-color-b{
	color: #0A0A0A;
}

.navbar-default.navbar-reduce .show > .nav-link, .navbar-default.navbar-reduce .active > .nav-link, .navbar-default.navbar-reduce .nav-link.show, .navbar-default.navbar-reduce .nav-link.active {
    color: #0A4069;
}

.color-d {
    color: #4C97AA;
}

.color-bl{
	color: #0A0A0A;
}

.navbar-default.navbar-reduce .nav-link:before {
    background-color: #4C97AA;
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: #4C97AA;
    width: 35px;
}

.sinse-box {
    background-color: #4C97AA;
}

.navbar-default.navbar-trans .nav-link:before {
    background-color: #4C97AA;
}

.intro .owl-theme .owl-dots .owl-dot.active span {
    background-color: #4C97AA;
}

.title-box-d .title-d:after {
	background-color: #4C97AA;
}

.back-to-top {
    background: #4C97AA;
}

.list-a li {
    width: 100%;
}

.navbar-default.navbar-trans .nav-link:hover {
    color: #4C97AA;
}

.navbar-default.navbar-reduce .nav-link:hover {
    color: #4C97AA;
}

.card-shadow:before {
    background: linear-gradient(to bottom, rgba(110, 136, 132,0.35) 0%, rgba(110, 136, 132, 0.35) 27%, rgba(110, 136, 132, 0.35) 90%);
}

.img-border{
	border: 2px solid black;
}

#carousel {
    margin-top: 80px;
}

.intro {
    height: 90vh;
}

.intro .carousel-item-a {
    height: 90vh;
}

.justify-content-right {
    -ms-flex-pack: flex-end !important;
    justify-content: flex-end !important;
}

#nav-email-phone{
	float: left;
    padding-bottom: 7px;
}

.summary-list {
    padding-right: 0.4em;
}

.download-custom{
	font-size: 50px;
    color: red;
    padding-top: 0.15em;
    padding-right: 7px;
}

#navbarDefault{
	margin-left: 90px;
}

.navbar-default {
    padding-top: 15px;
    padding-bottom: 15px;
}
   
.navbar-default.navbar-reduce {
    padding-top: 15px;
    padding-bottom: 15px;
}

.color-text-black{
	color: #0A0A0A;
    text-align: justify;
    font-size: 1.1em;
}

.sub-service-ul{
	display:         flex;
  	list-style-type: none;
  	width:           100%;
  	flex-wrap:       wrap;
}

.sub-service-li{
	flex: 20%;
}

.section-footer {
	margin-top: 0px;
}

.color-blue-text{
	color: #0A4069;
    text-align: justify;
    font-size: 1.1em;
    font-weight: 500;
}

.desc-prod-custom{
	padding-bottom: 40px;
}

.service-container-custom{
	position: relative;
  	text-align: center;
  	color: white;
}

.about-centered-custom {
  position: absolute;
  top: 80%;
  left: 92%;
  transform: translate(-50%, -50%);
}

.centered-custom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-info-custom{
	width: 25%;
}

@media (max-width: 575px) {
  .contact-info-custom {
  	width: 65%;
  }
  
  .intro-single {
    padding: 11rem 0 1rem;
}
}

@media (max-width: 767px) {
  .contact-info-custom {
  	width: 65%;
  }
  
  .intro-single {
    padding: 11rem 0 1rem;
}
}

/* Table pressure */
table {
/*   font-family: arial, sans-serif; */
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #0A0A0A;
  padding: 8px;
  text-align: center;
  font-size: 1.1em;
}

tr:nth-child(even) {
  background-color: white;
}

/* Slider */
.slick-slide {
    margin: 0px 20px;
    box-sizing: border-box;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Product fonts */

@media (min-width: 1200px) {
  .card-box-d .card-overlay-hover {
    padding: 15px 40px 5px 35px;
  }

  .card-box-d .title-d {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .intro-single {
    padding: 8rem 0 1rem;
}
}

@media (min-width: 992px) {
	.title-c {
    font-size: 2rem;
    color: #0A4069;
  }
}

.title-a {
    font-size: 2rem;
}

.title-wrap {
    padding-bottom: 2rem;
}

.card-box-ico {
    border: 5px solid #56D3F3;
}

.link-a {
    color: #0A4069;
}

@media (min-width: 992px){
	.intro .intro-subtitle.intro-price {
	    padding-top: 19rem;
	    float: right;
	    padding-right: 0rem;
	    right: 2%;
	    position: fixed;
	}
}

.intro .intro-body .price-a {
    border: none;
    border-radius: 0;
}

.title-box-d .title-d {
    color: #0A4069;
}
}

.product-unit-custom{
	font-size: 10px;
    position: fixed;
}

.product-unit-p-custom{
	font-size: 10px;
    position: relative;
    top: -7px;
}

.color-eutair{
	color: #56D3F3;
}

.color-eutair-icon{
	color: #0A4069;
}

.eutair-a {
    padding: 0;
    border: none;
    border-radius: 0;
    text-transform: none;
    letter-spacing: 0.030em;
    font-size: 2.1rem;
}

@media (min-width: 992px){
	.intro-single .title-single-box .title-single {
	    font-size: 2rem;
	}
}
@media (min-width: 768px){
	.intro-single .title-single-box .title-single {
	    font-size: 1.8rem;
	}
	
	.img-resize-custom{
		width: 100%; 
		height: 24rem;
	}
}
.intro-single .title-single-box .title-single {
    font-weight: 600;
    font-size: 2rem;
}

.press-release-title{
	font-size: 1.5rem;
	text-decoration: underline;
}

/* .tagline-size{ */
/* 	font-size: 2rem; */
/* } */
